:host {
  --red: #EE005F;
  --green: #00EA71;
  --orange: #FFA953;
  --light-grey: #9A97A9;
  --beige: #FFEDCB;
  --underline-rgba: rgba(30, 30, 30, .75);
}

.task-finished-uncompleted {
  @apply bg-[var(--red)];
}

.task-finished-completed {
  @apply bg-[var(--green)];
}

.task-close-by-uncompleted {
  @apply bg-[var(--orange)];
}

.task-default {
  @apply bg-[var(--light-grey)];
}

.task {
  @apply bg-[var(--beige)];
}

.glow {
  @apply bg-[var(--underline-rgba)];
}

.task:hover ~ .glow {
  animation: underline 550ms ease-out forwards;
}

@keyframes underline {
  100% {
    width: 100%;
  }
}
