<div class="task">
  <div class="header-image">
    <img [src]="image" [alt]="image ? 'Header Image' : ''">
  </div>

  <div class="title" [innerText]="title"></div>

  <div class="task-footer">
    <div class="deadline" *ngIf="deadline">
      <span class="icon">⏳</span>
      <span [innerText]="deadline"></span>
    </div>

    <div class="assigned-users" *ngIf="assignedUsers">
      <div class="user-img" *ngFor="let user of assignedUsers">
        <img [src]="user.img" [alt]="user.alt">
      </div>
    </div>
  </div>
</div>
