:host {
  --red: #EE005F;
  --green: #00EA71;
  --orange: #FFA953;
  --light-grey: #9A97A9;
  --beige: #FFEDCB;
  --underline-rgba: rgba(30, 30, 30, .75);
}

.clock-icon::before {
  content: "⏳";
}

.task-finished-uncompleted {
  background-color: var(--red);
}

.task-finished-completed {
  background-color: var(--green);
}

.task-close-by-uncompleted {
  background-color: var(--orange);
}

.task-default {
  background-color: var(--light-grey);
}

.task {
  background-color: var(--beige);
  padding: 20px;
  border-radius: 10px;
  border-bottom-color: transparent;
  box-shadow: 0 -1px 10px 1px var(--underline-rgba);
}

.task-header-image {
  margin: -1.25rem -1.25rem 0 -1.25rem;
  border-radius: 7px 7px 0 0;
  height: 3.5rem;
}

.deadline {
  display: flex;
  padding: 5px;
}

.date {
  align-self: center;
}

.title {
  margin: 1rem 0;
  font-weight: bold;
  font-size: 1.25rem;
}

.task-footer,
.assigned-users {
  display: flex;
}

.task-footer {
  justify-content: space-between;
}

.assigned-users {
  display: flex;
  justify-content: flex-end;
  height: 2rem;
  width: 0;
  column-gap: 1rem;
}

.user-img {
  border-radius: 50%;
}

.glow {
  position: relative;
  bottom: 10px;
  height: 10px;
  width: 0;
  border-radius: 0 0 10px 10px;
  background-color: var(--underline-rgba);
}

.task:hover ~ .glow {
  animation: underline 550ms ease-out forwards;
}

@keyframes underline {
  100% {
    width: 100%;
  }
}
