.clock-icon::before {
  content: "â³";
}

.task-finished-uncompleted {
  background-color: #e70002;
}

.task-finished-completed {
  background-color: green;
}

.task-close-by-uncompleted {
  background-color: #f6a606;
}

.task-default {
  background-color: #7f7f7f;
}

.task {
  background-color: #fbe4c5;
  border-radius: 50%;
}

.header-image > img {
  background-size: cover;
  border-radius: 7px 7px 0 0;
  margin: -10px 0;
  position: relative;
  width: 100%;
  height: 50px;
}

.deadline {
  display: flex;
  padding: 5px;
}

.date {
  align-self: center;
}

.task {
  padding: 10px;
  border-radius: 10px;
}

.title {
  margin: 1rem 0;
}

.task-footer,
.assigned-users {
  display: flex;
}

.task-footer {
  justify-content: space-between;
}

.assigned-users {
  display: flex;
  justify-content: flex-end;
  height: 2rem;
  width: 0;
  column-gap: 1rem;
}

.user-img {
  border-radius: 50%;
}
