<div class="task">
  <div class="header-image">
    <img [src]="image" [alt]="image ? 'Header Image' : ''">
  </div>

  <div class="title" [innerText]="title"></div>

  <div class="task-footer" *ngIf="deadline && assignedUsers">
    <div class="deadline rounded-1"
         *ngIf="deadline"
         [ngClass]="deadlineType">
      <span class="clock-icon"></span>
      <span class="date" [innerText]="deadline.toLocaleDateString()"></span>
    </div>

    <div class="assigned-users" *ngIf="assignedUsers">
      <img class="user-img"
           *ngFor="let user of assignedUsers"
           [src]="user.img"
           [alt]="user.alt">
    </div>
  </div>
</div>
