<div class="p-5 rounded-xl shadow-2xl task">
  <div class="-mt-5 -mx-5 rounded-t-xl h-14 task-header-image"
       *ngIf="image"
       [style.background-image]="'url(' + image + ')'">
  </div>

  <div class="my-4 font-bold text-lg title" [innerText]="title"></div>

  <div class="flex justify-between  task-footer" *ngIf="deadline && assignedUsers">
    <div class="flex gap-1 p-1.5 rounded-md deadline"
         *ngIf="deadline"
         [ngClass]="deadlineType"
    >
      <span class="clock-icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </span>
      <span class="self-center date" [innerText]="deadline.toLocaleDateString()"></span>
    </div>

    <div class="flex justify-end h-8 gap-4 assigned-users" *ngIf="assignedUsers">
      <img class="rounded-full user-img"
           *ngFor="let user of assignedUsers"
           [src]="user.img" [alt]="user.alt"
      >
    </div>
  </div>
</div>

<div class="glow"></div>
