.board-container {
  display: flex;
  column-gap: 2rem;
}

.board-title {
  text-align: center;
  font-weight: bolder;
}

.board {
  background-color: #ebe7e2;
  padding: 1rem;
  flex: 1;
}

.board-tasks {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

task-card {
  --bg-color: rgba(12, 12, 12, .75);
  box-shadow: 5px 5px 25px 5px var(--bg-color);
  transition: box-shadow 150ms ease;
}

task-card:hover {
  transition: box-shadow 150ms ease;
  cursor: pointer;
  box-shadow: 5px 5px 27px .1rem var(--bg-color);
}
