<div class="board-container">
  <div class="board rounded-5" *ngFor="let taskType of taskTypes">
    <div class="board-header">
      <h1 class="board-title" [innerText]="taskType"></h1>
    </div>

    <div class="board-tasks">
      <task-card
        *ngFor="let task of getTasksOfType(taskType)"
        [image]="task.img"
        [title]="task.titulo"
        [deadline]="task.fechaFin"
        [assignedUsers]="task.usuarios"
        [taskType]="task.lista">
      </task-card>
    </div>
  </div>
</div>
