.board-container {
  display: flex;
  align-content: center;
  column-gap: 2rem;
}

.board-title {
  text-align: center;
  font-weight: bolder;
}

.board {
  background-color: #ebe7e2;
  padding: 1rem;
  flex: 1;
}

.board-tasks {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
