<div class="flex gap-8 m-2 board-container" *ngIf="!showTaskForm">
  <div
    class="p-4 flex-1 bg-stone-300 rounded-xl board"
    *ngFor="let taskType of taskTypes"
  >
    <div class="mb-4 board-header">
      <h1
        class="text-center font-bold text-4xl board-title"
        [innerText]="taskType"
      ></h1>
    </div>

    <div class="board-tasks">
      <task-card
        *ngFor="let task of getTasksOfType(taskType)"
        [task]="task"
        (click)="startTaskEdit(task)"
      >
      </task-card>

      <task-card
        [title]="'➕ Añadir tarea nueva...'"
        (click)="startTaskEditOfType(taskType)"
      >
      </task-card>
    </div>
  </div>
</div>

<task-form *ngIf="showTaskForm"
           [task]="taskForm"
           (onTaskSave)="saveTask($event)"
           (onFormExit)="toggleTaskForm()">
</task-form>
