<div class="flex gap-8 m-2 board-container" *ngIf="!showTaskForm">
  <div
    class="p-4 flex-1 bg-stone-300 rounded-xl board"
    *ngFor="let taskType of taskTypes"
  >
    <div class="mb-4 board-header">
      <h1
        class="text-center font-bold text-4xl board-title"
        [innerText]="taskType"
      ></h1>
    </div>

    <div class="board-tasks">
      <task-card
        *ngFor="let task of getTasksOfType(taskType)"
        [task]="task"
        (click)="startTaskEdit(task)"
      >
      </task-card>

      <task-card
        [title]="'➕ Añadir tarea nueva...'"
        (click)="startEmptyTaskEdit()"
      >
      </task-card>
    </div>
  </div>
</div>

<div class="h-full task-form-container" *ngIf="showTaskForm">
  <form
    class="flex flex-col w-1/2 relative left-1/4 top-1/4"
    [formGroup]="taskFormGroup"
    (ngSubmit)="saveNewTask()"
  >
    <mat-form-field appearance="fill">
      <mat-label>Titulo</mat-label>

      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Lista</mat-label>

      <input matInput formControlName="taskType" [matAutocomplete]="auto" />

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let taskType of taskTypes" [value]="taskType">
          {{ taskType }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fecha fin</mat-label>

      <input type="date" matInput formControlName="deadline" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>URL Imagen</mat-label>

      <input matInput formControlName="headerImage" />
    </mat-form-field>

    <button class="mb-10" type="submit" mat-flat-button color="accent">
      Guardar
    </button>
    <button
      class="mb-5"
      mat-flat-button
      color="primary"
      (click)="toggleTaskForm()"
    >
      Salir
    </button>
    <button type="reset" mat-stroked-button color="warn">Eliminar</button>
  </form>
</div>
