:host {
  --board-background: #EBE7E3;
}

.board-container {
  display: flex;
  column-gap: 2rem;
}

.board-title {
  text-align: center;
  font-weight: bolder;
}

.board {
  background-color: var(--board-background);
  padding: 1rem;
  flex: 1;
}

.board-tasks {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
